<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{/assets/logo.png}"/>
</head>
<body>
    <nav th:fragment="header" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">
                <i class="fa-solid fa-phone-volume text-warning"></i>
                <span class="text-white">TexTCom</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/profile}">
                            <i class="fas fa-id-card"></i> Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/calls}">
                            <i class="fa-solid fa-phone"></i> Calls
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/transcripts}">
                            <i class="fa-solid fa-file-lines"></i> Transcripts
                        </a>
                    </li>
                </ul>
                <div class="d-flex">
                    <span class="navbar-text me-3">
                        Welcome, <span th:text="${username}">User</span>
                    </span>
                    <a th:href="@{/accounts/logout}" class="btn btn-outline-light">
                        <i class="fa-solid fa-right-from-bracket"></i> Logout
                    </a>
                </div>
            </div>
        </div>
    </nav>
</body>
</html> 